<html>
<head>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/static/jquery-linedtextarea.js"></script>
</head>
<body>
<div id="banner">
    <div id="head" itemprop="name">Go-Xslate Playground</div>
    <div id="controls">
        <input type="button" value="Run" id="run">
    </div>
</div>

<div id="wrap">
    <textarea itemprop="description" id="code" name="code" autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false">
Hello World [% name %]!
    </textarea>

    <textarea itemprop="description" id="variables" name="variables" autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false">
{
"name": "Bob"
}
    </textarea>
</div>

<div><pre id="output"></pre></div>

<script type="text/javascript">
<!--
    $(document).ready(function() {
        $('#code').linedtextarea();
        $('#run').click(function() {
            $.ajax({
                url: "/api/render",
                type: "POST",
                data: {
                    template: $('#code').val(),
                    variables: $('#variables').val()
                },
                success: function(data) {
                    $('#output').text(data)
                },
                error: function(data) {
                    $('#output').text(data.responseText)
                }
            })
        })
    })
-->
</script>
</body>
</html>